<h2>Записаться</h2>
<p>Вы можете записаться к нас заполнив форму ниже</p>

<form action ="/visit" method="POST">

  <div class="mb-3" >

    <label >Введите имя</label>
    <input type="text" name="user_name" class="form-control"  placeholder="Введите ваше имя">

  </div>

  <div class="mb-3" >

    <label >Введите номер телефона</label>
    <input type="text" name="phone_number" class="form-control"  placeholder="+37529.......">

  </div>
  
  <div class="mb-3" >

    <label >Когда вас ждать</label>
    <input type="text" name="date_time" class="form-control"  placeholder="Введите дату">

  </div>
  <label >Выберите парикмахера</label>
  <select class="form-select" aria-label="Default select example" name="barber">
  <option selected></option>
  <option value="Jassie Pinkman">Jassie Pinkman</option>
  <option value="Walter White">Walter White</option>
  <option value="Gus Fring">Gus Fring</option>
</select>
  
  <button type="submit" class="btn btn-primary">Submit</button>	

</form>
